@use '../abstractions' as *;

.container {
  position: absolute;
  width: 30px;
  height: 20px;
  right: 20px;
  top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
