@use '../abstractions' as *;

.container {
  height: 100%;
  @include wrapper;
  padding-bottom: 24px;
  min-height: 100%;
  background-color: hsl(var(--clr-slate-100));
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-top: 80px;
}

.logo {
  width: 100px;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-inline: auto;
  gap: 0.8rem;
  width: 100%;
  max-width: 28rem;
  aspect-ratio: 1;
}

.meta_wrapper {
  display: flex;
  width: 100%;
  max-width: 28rem;
  margin-inline: auto;
  gap: 26px;
}

.meta_element {
  flex: 1;
  background-color: hsl(var(--clr-greyish-blue-100));
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  padding-block: 10px;
  border-radius: 5px;
}

.meta_text {
  color: hsl(var(--clr-greyish-blue-500));
  font-size: var(--fs-body);
}

.meta_value {
  color: hsl(var(--clr-blue-800));
  font-size: var(--fs-h2);
}
