.table {
  display: grid;
  grid-template-columns: repeat(var(--grid-size, 4), 1fr);
  grid-template-rows: repeat(var(--grid-size, 4), 1fr);
  margin-inline: auto;
  gap: 0.8rem;
  width: 100%;
  max-width: var(--grid-width, 28rem);
  aspect-ratio: 1;
}
